<h3>Edit Field</h3>

<form class="companyForm formDefault" [formGroup]="companyEditForm" fxLayout="column">
  <div fxFlex="100%" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="25px" fxLayoutGap.sm="0"
    fxLayoutGap.xs="0" class="formRow">
    <span class="formLft formCol">
      <label>Field Name <strong class="red">*</strong></label>
      <input type="text" value="" placeholder="Enter your Field name here..." formControlName="companyName">
      <p-message severity="error" text="Field is required" *ngIf="companyEditForm.controls['companyName'].hasError('required') && companyEditForm.controls['companyName'].touched"></p-message>
      <p-message severity="error" text="Enter proper format of Field name" *ngIf="companyEditForm.controls['companyName'].hasError('pattern') && formInvalid"></p-message>
    </span>
  </div>

  <div fxFlex="100%" fxLayout="row" fxLayoutGap="25px" class="formRow">
    <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" (click)="save(companyEditForm.value)"
      [disabled]="!companyEditForm.valid">
      <span class="ui-button-text ui-clickable">
        <i class="fa fa-close" *ngIf="!companyEditForm.valid"></i>
        <i class="fa fa-check" *ngIf="companyEditForm.valid"></i>
        Submit
      </span>
    </button>
    <a class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" routerLink="/app/company/list"><span
        class="ui-button-text ui-clickable"><i class="fa fa-chevron-left"></i> Back</span></a>
  </div>
</form>
<p-toast></p-toast>