<p-sidebar [visible]="true" [baseZIndex]="0" [autoZIndex]="9999999" [modal]="false" *ngIf="this.router.url != '/login'">
    <div class="sidebarheader">
        <a class="logo" routerLink="./user">
            
            <h3 style="color:rgb(236, 223, 223)">DoodhNath Singh</h3>
            <!-- <h1>Logo Here</h1> -->
            <img src="" alt="">
            <!-- <img src="./assets/logo.png" alt=""> -->
        </a>
    </div>
    <div class="sidebarbody">
        <p-scrollPanel [style]="{width: '100%', height: '100vh'}">
            <p-panelMenu [model]="items"></p-panelMenu>
        </p-scrollPanel>
    </div>
</p-sidebar>